body {
    font-family: Arial, sans-serif;
    background-image: url(/static/bg.jpeg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.chat-container {
    position: absolute;
    top: 10%;
    width: 520px;
    margin: 50px auto;
    border: 0px solid #ccc;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    height: 500px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    bottom: 100%;
    right: 45%;
}

#chat-box {
    height: 360px;
    width: 950px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 14px;
    margin-bottom: 10px;
    background: white;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    right: 250px;
}

.input-row {
    display: flex;
    width: 980px;
    position: relative;
    right: 250px;
}

#user-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: black;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    margin-left: 5px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #080000;
}
footer a {
    color: #007BFF;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.user{
    text-align: right;
    color:#002852;
    margin: 5px 0;
}

.bot{
    text-align: left;
    color:black;
    margin: 5px 0;
}


.chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
}